%head
	%link(type="text/css" rel="stylesheet" href="boards.css.scss")

%table(border="5px")
	%thead(style="background-color: black; color:white;")
		%tr
			%th 
			- @size.times do |column|  
				%th= "#{("A".ord+column).chr}"
			
	%tbody.water
		- @size.times do |row|
			%tr
				%td.column= row + 1
				- @size.times do |column|
					%td{class: @board.test("#{("A".ord+column).chr}#{row + 1}")} 