<p> Battleship </p>
<table>
	<thead>
		<th> My Ship</th>
		<th></th>
		<th> Attack View</th>
	</tbody>
		<tr>
			<td><%= render 'defend' %></td>
			<td></td>
			<% if @board.ships.count == 5 %>
			<td><%= render 'attack' %></td>
			<%end%>
		</tr>
		<tr>
			<% if @board.ships.count < 5 %>
				<td><%= render 'form' %></td>
			<% else %>
				<td></td>
			<%end%>
			<td></td>
			<% if @board.ships.count == 5 %>
				<td><%= render 'missle' %></td>
			<%end%>
		</tr>
	</tbody>
</table>
<h2>Attacks</h2>
<% @board.attacks.each do |attack| %>
   <p>
    <strong>Point:</strong>
    <%= attack.point %>
  </p>
<% end %>
<%= link_to "Home", boards_path %>

