<p> Battleship </p>
<table>
	<thead>
		<th> My Ship</th>
	</thead>
	<tbody>
		<tr>
			<td><%= render 'defend' %></td>
		</tr>
		<tr>
			<% if @board.ships.count < 5 %>
				<td><%= render 'form' %></td>
			<%end%>
			<% @game = Game.last %>
			<% if @board.ships.count == 5 %> 
				<% if (Game.count == 0) %>
					<%= render 'games/ngame' %>
				<% elsif @game.boards.count == 2 %>
					<%= render 'games/ngame' %>
				<%else%>
					<td><%= link_to "Begin", @game %></td>
				<%end%>
			<%end%>
		</tr>
	</tbody>
</table>

